<!DOCTYPE html>
<html lang="pt-BR">
<html>
<head>
<style>
    body{background-color:  white; color: black; font-family:arial
    }
    .autores{font-family:courier;}
</style>
    <title>Autor - Detalhe</title>
</head>
<body>
    <h1>Autor - Detalhe</h1>
    <h2>
        <strong>URL da pagina: {{ url_ pagina }}</strong>
        <strong><pre class="autores">Autor : {{ autor }}</pre></strong>
        <strong><pre class="autores">Nascimento : {{ nascimento }}</pre></strong>
        <strong><pre class="autores">Falecimento : {{ falecimento }}</pre></strong>
    </h2>
</body>
</html>
