<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <style>
      body{blackground:white; color:black; font_family: georgia}


  </style>
    <meta charset="UTF-8">
    <title>Compromissos</title>

</head>
<body>
<h1>Compromissos</h1>

<h2 blackground="light green">
  Meus compromissos
  {%if AgeFiltro == 'TC'%} Agendados {%endif%}
  {%if AgeFiltro == 'PA'%} Muito importante {%endif%}
  {%if AgeFiltro == 'PM'%} Não tão importante {%endif%}
  {%if AgeFiltro == 'PB'%} Não é importante {%endif%}
  {%if AgeFiltro == 'SA'%} Compromissos Abertos {%endif%}
  {%if AgeFiltro == 'SC'%} Compromissos Concluidos {%endif%}
  {%if AgeFiltro == 'SP'%} Compromissos Pendentes {%endif%}
</h2>
<h3>
  {% if list_comp %}
  <table border ='1'>
    <tr style="color: red">
      <td> Data </td>
      <td> Hora </td>
      <td> Informação </td>
      <td> Prioridade </td>
      <td> Status </td>
    </tr>
    {% for comp in list_comp %}
    <tr style="color: blue">
      <td> {{ comp.AgeData }} </td>
      <td> {{ comp.AgeHora }} </td>
      <td> {{ comp.AgeInfo }} </td>
      <td>
          {% if comp.AgePrio == 'A'%} Alta {% endif %}
          {% if comp.AgePrio == 'M'%} Média {% endif %}
          {% if comp.AgePrio == 'B'%} Baixa {% endif %}
      </td>
      <td>
        {% if comp.AgeStat == 'A' %} Alta {% endif %}
        {% if comp.AgeStat == 'C' %} Concluído {% endif %}
        {% if comp.AgeStat == 'B'%} Pendente {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p> Não há compromissos cadastrados </p>
  {% endif %}
</h3>
</body>
</html>
